@charset "UTF-8";

.bs_footer_layout7{
    background-color: #2d3436;
    /* background-image: linear-gradient(to right, #2D3436,#000); */
    color: #e1e1e1;
    font-size: 14px;
}
.bs_footer_layout7 .bs_footer_copyright_row{
    width: 100%;
}
.bs_footer_layout7 .bs_footer_social_links{
    text-align: center;
}
.bs_footer_layout7 .bs_footer_social_links i{
    font-size: 16px;
}
.bs_footer_layout7 .bs_footer_links_list{
    list-style-type: none;
    padding-left: 0;
}
.bs_footer_layout7 .bs_footer_links_list li{
    padding: 5px 0;
}
.color-inherit{
    color: inherit;
}
.bs_footer_layout7 .bs_footer_tagline{
    font-size: 12px;
}
.bs_footer_layout7 .bs_footer_links_main_label span{
    color: #ffe800;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: 400;
}
.bs_footer_layout7 .bs_footer_contact_link{
    color: #ffe800;
    font-size: 15px;
}
.bs_footer_layout7 .bs_footer_links_main_label{
    margin-bottom: 10px;
    color: #fff;
}
.bs_footer_layout7 .bs_mail_link{
    border-bottom: 2px solid #707070;
    padding-bottom: 2px
}
.bs_footer_layout7 .bs_newsletter_email_wrapper{
    background-color: #fff;
    padding: 5px 12px;
    border-radius: 5px;
}
.bs_footer_layout7 .bs_newsletter_email_wrapper i{
    color: #8c8b84;
}
.bs_footer_layout7 .bs_footer_content .bs_newsletter_email{
    background: transparent;
    border: unset;
    border-radius: 0;
    padding: 0.375rem 0;
    padding-bottom: 8px;
    outline: unset;
    box-shadow: none;
    color: #4a4a4a;
    font-size: 14px;
}
.bs_fs-18{
    font-size: 18px;
}
.bs_footer_layout7 .bs_footer_content .bs_newsletter_email:focus-visible{
    outline: unset;
    box-shadow: none;
}

.bs_footer_layout7 .bs_newsletter_submit{
    font-size: 18px;
    color: #fff;
}
.bs_footer_layout7 .bs_newsletter_submit i{
    color: #c3bcbc;
}
.bs_footer_layout7 .bs_newsletter_email_wrapper i::before {
    font-weight: 400 !important;
}
.bs_footer_layout7 .bs_footer_links_list a{
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}
.bs_footer_layout7 .bs_footer_links_list a:hover{
    color: #ffe800;
    /* border-bottom: 2px solid #fff; */
}
.bs_footer_layout7 .bs_footer_social_links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.bs_footer_layout7 .bs_footer_social_links i {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #ffe800;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000000;
}
.bs_footer_layout7 .bs_footer_copyright_wrapper{
    font-size: 12px;
    color: #717171;
}
.bs_footer_layout7 .bs_footer_main_row{
    border-top: 1px solid #5d5d5d;
    padding-top: 20px;
    margin-top: 20px;
}
.bs_footer_layout7 .bs_footer_social_links a:hover i{
    background-color: #fff;
}
.bs_footer_layout7 .bs_footer_social_links a{
    padding: 5px 0;
}
.bs_footer_layout7 .bs_btn-submit{
    background-color: #ffe800;
    border-color: #ffe800;
    color: #000;
    font-size: 14px;
    min-width: 120px;
    padding: 0.575rem 0.75rem;
    font-weight: 500;
}
.bs_footer_layout7 .bs_btn-submit:hover{
    background-color: #f3e97c;
}

@media(min-width:992px){
    .bs_footer_layout7 .bs_footer_copyright_wrapper{
        position: absolute;
        top: 50%;
        right: 0px;
    }
}
