@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font01);
}

:root{
    --font01: 'Rubik', sans-serif;
    --font02: 'Hind Madurai', sans-serif;
    --font03: Arial, Helvetica, sans-serif;
    --cor01: #04ADBF;
    --cor02: #04BFBF;
    --cor03: #025959;
    --cor04: #83BE3C;
    --cor05: #F2E0C9;
}

html,body{
    background-color: rgba(0, 0, 0, 0.034);
    width: 100%;    
}
#naveg{
    background-color: var(--cor03);
    margin: auto;    
}
a.active > .fundo-icon{
    border-radius: 50%;    
    background-color: var(--cor01);    
}
a.active{
    border-bottom: 3px solid var(--cor01);
}
.fundo-icon{
    padding: 5px;    
}
main{    
    margin: auto;
    background-color: white;
    width: 95%;
    max-width: 1200px;
}
.topo{    
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    background: url('../imagens/imagens-aviao/img-topo-aviao.jpg') no-repeat;
    background-position: top center;    
    background-size: cover;    
}
.titulo-formulario{
    text-align: center;
}
#datas-select{
    display: flex;    
    flex-wrap: wrap;    
    gap: 10px;
}

.radio{
    width: 100%;
}
form{
    width: 100%;
    display: block;
    margin: auto;
}

.buscas{
    background-color: white;
    border-radius: 55px;
    width: 100%;    
    margin: auto;
    padding: 10px;
}
.botao-busca{
    text-align: right;    
}
.botao-busca > button{
    border-radius: 20px;
}
button{
    background-color: var(--cor03);
    color: white;
} 
.slides{
    display: block;
    margin: auto;
    width: 100%;        
}
.jumbotron-carousel{
    background: url('../imagens/imagens-hotel/img-topo-hotel.jpg') no-repeat;
    background-position: top center;    
    background-size: cover;
    padding: 5rem 11rem;
}
.position-card{
    display: flex;
    flex-wrap: wrap;    
}
.fundo-pos-slide{
    background: url('../imagens/imagens-aviao/img-meio-aviao.jpg') no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.titulo-mensagem-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.cartoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

footer{
    background-color: black;
    color: white;    
    padding: 15px;
}
.nav-item-footer{
    color: rgb(156, 156, 156);
}
.nav-item-footer:hover{
    color: white;
    text-decoration: underline;
}
.text-modal{
    color: black;
}
.frase-rodape{
    display: block;
    margin: auto;
}
