@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font01: Arial, Helvetica, sans-serif;
    --font02: 'Courier New', Courier, monospace;
    --cor01: #04ADBF;
    --cor02: #04BFBF;
    --cor03: #025959;
    --cor04: #83BE3C;
    --cor05: #F2E0C9;
}

html,body{
    background-color: rgba(0, 0, 0, 0.034);
    font: var(--font01);
    width: 100%;
}
#naveg{
    background-color: var(--cor03);
    margin: auto;    
}
a.active > .fundo-icon{
    border-radius: 50%;    
    background-color: var(--cor01);    
}
a.active{
    border-bottom: 3px solid var(--cor01);
}
.fundo-icon{
    padding: 5px;    
}
main{    
    margin: auto;
    background-color: white;
    width: 95%;    
    max-width: 1200px;    
}
.topo{    
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    background: url('../imagens/imagens-aviao/img-topo-aviao.jpg') no-repeat;
    background-position: top center;    
    background-size: cover;    
}
.titulo-formulario{
    text-align: center;
}
#datas-select{
    display: flex;    
    flex-wrap: wrap;    
    gap: 10px;
}

.radio{
    width: 100%;
}
form{
    width: 100%;
}

.buscas{
    background-color: white;
    border-radius: 80px;
    width: 100%;    
    margin: auto;
    padding: 10px;
}
.slides{
    display: block;
    margin: auto;
    width: 100%;        
}
.jumbotron{
    background: url('../imagens/imagens-hotel/img-topo-hotel.jpg') no-repeat;
    background-position: top center;    
    background-size: cover; 
}
.position-card{
    display: flex;
    flex-wrap: wrap;    
}
.fundo-pos-slide{
    background: url('../imagens/imagens-aviao/img-meio-aviao.jpg') no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.titulo-mensagem-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.cartoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

footer{
    background-color: var(--cor05);
    
    padding: 15px;
}
.frase-rodape{
    display: block;
    margin: auto;
}
